a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
.menu-spacer{
    margin-right: 15px;
}

.clock-spacer{
    margin-right: 5px;
}

.centered {
    display: flex;
    align-items: center;
  }
  
.centered mat-icon {
    margin-right: 5px;
}
