<mat-toolbar color="primary">
  <button class='button-icon' mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="menu-spacer"></div>
  <span class="toolbar-title"> CarShop</span>
  <div class="clock-section" mat-toolbar-section-end>
    <mat-icon>access_time</mat-icon>
    <span class="clock-spacer"></span>
    <span>{{ currentTime | timeFormat }}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" opened="false" fixedInViewport="true">
    <button class='button-icon' mat-icon-button (click)="sidenav.close()">
      <a><mat-icon [ngStyle]="{'color':'black'}">keyboard_backspace</mat-icon></a>
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/main" routerLinkActive="active"  class="centered" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>home</mat-icon>
          <span class="text">Főoldal</span>
        </div>
      </a>
      <a *ngIf="(loggedInUser)" mat-list-item routerLink="/products" routerLinkActive="active"  class="centered" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>store</mat-icon>
          <span class="text">Termékek</span>
        </div>
      </a>
      <a mat-list-item routerLink="/contacts" routerLinkActive="active"  class="centered" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>phone</mat-icon>
          <span class="text">Elérhetőségek</span>
        </div>
      </a>
      <a *ngIf="(loggedInUser)" mat-list-item routerLink="/reviews" routerLinkActive="active" class="centered" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>reviews</mat-icon>
          <span class="text">Vélemények</span>
        </div>
      </a>
      <a *ngIf="!(loggedInUser)" mat-list-item routerLink="/login" routerLinkActive="active" class="centered" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>login</mat-icon>
          <span class="text">Bejelentkezés</span>
        </div>
      </a>
      <a *ngIf="loggedInUser" mat-list-item routerLink="/main" routerLinkActive="active" class="centered" (click)="logOut()" (click)="sidenav.close()">
        <div class="icon-text-container">
          <mat-icon>logout</mat-icon>
          <span class="text">Kijelentkezés</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
