<div class="main_component div-flex">
    <mat-card class="div-flex" color="primary">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="break"></div>
            <div class="icon-text-container">
                <mat-icon>call</mat-icon>
                <span class="text">Discord: janoka#1670</span>
            </div>
            <div class="icon-text-container">
                <mat-icon>email</mat-icon>
                <span class="text">CoosSpace: Oncsik János (G2WDY5)</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>