$hoverColor : #555;
$navColor : #333;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

nav {
    background-color: $navColor;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  li {
    margin: 0 20px;
  }
  

  
  a:hover {
    background-color: $hoverColor;
  }

  .active {
    background-color: $hoverColor;
  }

  .menu-name{
    display: flex;
    justify-content: center;
  }
 
  .button-icon{
    background-color: transparent;
    border: none;
  }

  .clock-section {
    display: flex;
    align-items: center;
  }
  
  .toolbar-title {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
  }

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
